.register {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &_title {
        text-align: center;
        &:hover {
            color: #2980b9;
        }
    }

    &_content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 350px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        box-sizing: border-box;
    }

    &_close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    &_box {
        display: flex;
        flex-direction: column;

        &_input {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        &_button {
            background-color: #3498db;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: #2980b9;
            }
        }
        &_link {
            color: rgb(5, 5, 36);
            padding: 5px 0;
        }
    }

}